

body {
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: #006;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

#body {
	margin: 0 auto;
	padding: 0;
	width: 750px;
	text-align: left;
}

#nav {
	margin: 0;
	background-image: url(../assets/header.png);
	background-repeat: no-repeat;
	width: 750px;
	height: 110px;
	overflow: visible;
}

#nav a {
	margin: 90px 0px 0;
	font: 17px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#nav a.right {
	margin-left: 150px;
}

#nav a.top {
	margin-top: 7px;
	margin-left: 130px;
}


.left {
	float: left;
}

.right {
	float: right;
}

#content {
	background-color: #153080;
	color: #fff;
	border: 2px outset #153080;
}

#content h1 {
	padding: 0 15px;
	font: 19px "Times New Roman", times, serif;
	margin-bottom: 4px;
}

#content h2 {
	padding: 0 15px;
	font: 17px "Times New Roman", times, serif;
	margin-bottom: 4px;
}

#content a {
	color: #ccf;
	color: #f91;
}

#content img {
	border: 2px inset #153080;
	margin: 15px;
}

#content .step img {
	margin: 0;
}

#content small {
	margin: 0;
}

#content p, #content dt, #content dd {
	margin: 15px;
	font: 13px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#content dl {
	margin-left: 10px;
}

#content dd {
	margin-left: 30px;
}

#content ul {
	padding-left: 15px;
}

ul#links {
	list-style: none;
	margin-left: 30px;
}

ul#links .s {
	margin-left: 10px;
}

.step {
	margin: 10px;
	text-align: center;
}

#footer {
	text-align: center;
	font: 12px "Times New Roman", times, serif;
	margin: 10px 0;
}

#adsense {
	width: 730px;
	height: 92px;
	margin: 5px auto;
}
